<div style="background-color: lightgreen; padding: 18px;">
    <h1> Coding Tank | Vem Ser Tech 
</div>

<div style="background-color: lightblue; padding: 10px;">
    <h2> Tópicos da aula - AULA 1
</div>

- Variáveis
- Tipos básicos
- Entradas/Saídas
- Operadores aritméticos, atribuição e comparação

# Introdução

Vamos explorar como o jupyter notebook funciona, botões, comandos e tipos de célula

Célula do tipo "markdown"

1

In [2]:
2

2

In [3]:
3

3

In [4]:
3 + 4

7

In [5]:
5 - 3

2

In [6]:
2 * 5

10

In [7]:
15 / 2

7.5

In [8]:
15 // 2

7

In [9]:
15 ** 2

225

In [10]:
15 // 2

7

In [11]:
15 % 2

1

**Operadores Aritméticos**

|     Operador    |     Nome                 |     Função                                                                       |
|-----------------|--------------------------|----------------------------------------------------------------------------------|
|     +           |     Adição               |     Realiza   a soma de ambos operandos.                                         |
|     -           |     Subtração            |     Realiza   a subtração de ambos operandos.                                    |
|     *           |     Multiplicação        |     Realiza   a multiplicação de ambos operandos.                                |
|     /           |     Divisão              |     Realiza   a Divisão de ambos operandos.                                      |
|     //          |     Divisão   inteira    |     Realiza   a divisão entre operandos e a parte decimal de ambos operandos.    |
|     %           |     Módulo               |     Retorna   o resto da divisão de ambos operandos.                             |
|     **          |     Exponenciação        |     Retorna   o resultado da elevação da potência pelo outro.                    |

Mas como podemos armazenar esses valores?

# Variáveis

Variável é o nome dado ao tipo de conteúdo que pode apresentar diferentes valores enquanto o sistema está em execução. Tudo dependerá do comando do usuário e o tipo de operação que é realizado.

Imagine que você conhece uma nova pessoa. A variável seria o lugar no seu cérebro no qual você guarda, por exemplo, o nome desta pessoa, ou seja, é alocado um espaço para armazenar esta informação e posteriormente é passado o valor referente aquele dado.

`nome = "Renata"`

## Tipos básicos

Podemos ter informações relacionadas às outras pessoas como nome, idade e salário. Cada uma delas possui o que chamamos de tipos de variável. Os tipos de dados são os seguintes:

In [13]:
# Vamos criar uma variável para, por exemplo, guardar um nome
nome = "Cecilia"
nome

'Cecilia'

In [14]:
# Podemos retomar o tipo da variável
type(nome)

str

In [16]:
nome = 'Cecilia'
type(nome)

str

In [17]:
nome

'Cecilia'

In [18]:
nome = "Ada"
nome

'Ada'

In [19]:
# Repare que podemos, inclusive, atribuir à variável outros tipos que não eram iguais aos que atribuímos originalmente
nome = 20
nome

20

In [20]:
type(nome)

int

In [21]:
nome = "20"

In [22]:
type(nome)

str

In [23]:
nome:int="bruno"

In [24]:
type(nome)

str

In [25]:
nome = 2

In [26]:
type(nome)

int

In [27]:
# Vamos ver idades, por exemplo
idade = 21
type(idade)

int

In [28]:
idade = 21.
type(idade)

float

In [29]:
int(21)/float(2.0)

10.5

In [31]:
int(int(21)/int(2))

10

In [35]:
int(21)//int(2)

10

In [38]:
int(int(21)/int(2))

10

In [39]:
idade = 20

In [43]:
idade

21

In [41]:
idade = 21

In [42]:
idade

21

Idade é diferente de idade

In [44]:
Idade

NameError: name 'Idade' is not defined

In [45]:
idade

21

In [46]:
IDADE

NameError: name 'IDADE' is not defined

In [47]:
a+b = 2

SyntaxError: cannot assign to operator (<ipython-input-47-c7e143f4b6b6>, line 1)

In [49]:
a_b = 2
a_b

2

In [52]:
idade = 21
type(idade)

int

In [53]:
idade/2

10.5

In [54]:
type(idade/2)

float

In [55]:
type(idade//2)

int

In [56]:
type(int(idade/2))

int

In [57]:
idade:int=21
idade/2

10.5

In [58]:
idade:int=21
int(idade/2)

10

In [1]:
# tipos 
string = "fica entre aspas"
int_variavel = 12 #sem . no numero
float_variavel = 12.5 #qualquer numero com ponto

In [61]:
# Variável do tipo booleana - indica "verdadeiro" ou "falso"
certificado = True
type(certificado)

bool

In [62]:
certificado = False
type(certificado)

bool

In [63]:
var = false

NameError: name 'false' is not defined

# Entradas

Para solicitarmos entradas de informações a serem fornecidas pelo usuário podemos utilizar a função input. Com ela você poderá (opcional) passar uma mensagem instrutiva ao usuário do que deseja que ele insira.  
No exemplo abaixo utilizaremos o input.

In [65]:
input()

digitar alguma coisa

'digitar alguma coisa'

**Intuição**  
Veja que ele funciona, porém sem uma mensagem de qual informação é solicitada não é possível identificar o que se deve passar ao programa.

In [67]:
input("Insira sua idade: ")

Insira sua idade: 31

'31'

In [68]:
input("Insira sua idade: ")

Insira sua idade: São Paulo

'São Paulo'

**Variável**  
Podemos guardar o valor passado pelo usuário numa variável

In [2]:
idade = input("Insira sua idade: ")

Insira sua idade: 31

In [3]:
idade

'31'

In [4]:
type(idade)

str

Repare nas aspas que saem quando utilizamos apenas a função input. Isso quer dizer que este valor capturado pelo programa é uma string, independente do que o usuário insira.

In [5]:
type(idade)

str

**Convertendo o tipo de dado**

Neste caso é interessante que a idade seja um número, visto que em geral o utilizamos para realizar contas, por exemplo. Para converter este valor para um inteiro, podemos fazer da seguinte forma:

In [7]:
idade_int = int(idade)

In [8]:
type(idade_int)

int

In [9]:
idade_int

31

In [10]:
idade = int(input("Insira sua idade: "))

Insira sua idade: 31

In [11]:
type(idade)

int

In [12]:
idade = int(input("Insira sua idade: "))

Insira sua idade: São Paulo

ValueError: invalid literal for int() with base 10: 'São Paulo'

E para simplificar ainda mais é comum que já realizemos a conversão da variável logo na chamada do input.

In [14]:
idade = float(input("Insira sua idade: "))

Insira sua idade: 31.5

In [15]:
idade

31.5

In [17]:
type(idade)

float

In [18]:
float("São Paulo")

ValueError: could not convert string to float: 'São Paulo'

## Saídas

Em diversas situações desejamos imprimir na tela o resultado de alguma operação que realizamos ou simplesmente emitirmos uma mensagem, para estas situações utilizamos o `print`.

In [19]:
print()

In [21]:
print("Posso utilizar o print para mostrar mensagens na saída")

Posso utilizar o print para mostrar mensagens na saída

In [22]:
idade = input("Insira sua idade: ")
print(idade)

Insira sua idade: 31
31

In [23]:
idade = input("Insira sua idade: ")
print("A idade insira foi {}".format(idade)) # esta é uma forma possível

Insira sua idade: 31
A idade insira foi 31

In [24]:
print('Posso também printar com aspas simples')

Posso também printar com aspas simples

In [26]:
# "\n" é usado para pular linha
print('Posso pular linhas com \nAgora estou em outra linha')

Posso pular linhas com
Agora estou em outra linha

In [27]:
type(print('Posso pular linhas com \nAgora estou em outra linha'))

Posso pular linhas com
Agora estou em outra linha

NoneType

In [29]:
numero = 20
print(numero)

20

In [30]:
type(print(numero))

20

NoneType

In [31]:
print_var = print(numero)

20

In [33]:
print_var

In [34]:
type(print_var)

NoneType

In [35]:
# Sempre no JupyterNotebook, podemos simplesmente executar a célula
"Algum texto"

'Algum texto'

In [37]:
numero

20

In [38]:
print(numero)

20

In [39]:
numero

20

In [40]:
print("Algum texto")

Algum texto

In [42]:
"Algum texto"

'Algum texto'

In [43]:
var = "Algum texto"

In [45]:
print(var)

Algum texto

In [46]:
# Atenção: Jupyter exibe somente na última linha
"Algum texto"
numero

20

In [47]:
# Conseguimos combinar informações de diversas variáveis
# Quero saber a diferença entre duas idades
idade1 = 50
idade2 = 30
dif_idades = idade1 - idade2

In [49]:
dif_idades

20

In [51]:
print("A diferença entre as idades {} e {} é {} anos".format(idade1, idade2, dif_idades))

A diferença entre as idades 50 e 30 é 20 anos

In [52]:
idade1 = input("Insira a primeira idade: ")
idade2 = input("Insira a segunda idade: ")

Insira a primeira idade: 50
Insira a segunda idade: 30

In [54]:
idade1

'50'

In [55]:
idade2

'30'

In [56]:
# Se tentasse fazer a diferença, sendo strings:
dif_idades = idade1 - idade2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [63]:
dif_idades = int(idade1) - int(idade2)
dif_idades

20

In [57]:
idade1 + idade2

'5030'

In [58]:
idade1 = int(input("Insira a primeira idade: "))
idade2 = int(input("Insira a segunda idade: "))

Insira a primeira idade: 50
Insira a segunda idade: 30

In [60]:
idade1 - idade2

20

In [61]:
type(idade1 - idade2)

int

In [64]:
idade1 = int(input("Insira a primeira idade: "))
idade2 = int(input("Insira a segunda idade: "))

Insira a primeira idade: Cinquenta

ValueError: invalid literal for int() with base 10: 'Cinquenta'

**Mais de um argumento**  
Para imprimir mais de uma informação, o print permite inserir quantos argumentos forem necessários, desde que separados por vírgula. Veja o exemplo:

In [67]:
print("Olá", "eu sou o Carlos", ":)")

Olá eu sou o Carlos :)

In [68]:
print("Minha idade é", idade)

Minha idade é 31

**Print de variáveis**  
Também é possível imprimir variáveis de forma simples, basta passar o nome dado para a variável dentro dos parênteses.

In [69]:
print(idade)

31

E se for necessário imprimir a mensagem "Olá, eu sou Carlos Stefano", de forma que o nome e o sobrenome sejam provenientes de variáveis nome e sobrenome

In [72]:
nome = "Carlos"
sobrenome = "Stefano"
idade = 31

In [73]:
print("Olá! Eu sou o", nome, sobrenome, "e tenho", idade, "anos")

Olá! Eu sou o Carlos Stefano e tenho 31 anos

In [74]:
print("Olá! Eu sou o {} {} e tenho {} anos".format(nome, sobrenome, idade))

Olá! Eu sou o Carlos Stefano e tenho 31 anos

**Print com f string**  
Outra forma de utilizarmos o print com variáveis é por meio do que chamamos de f string.

In [77]:
print(f"Olá! Eu sou o {nome} {sobrenome} e tenho {idade} anos")

Olá! Eu sou o Carlos Stefano e tenho 31 anos

In [76]:
print("Olá! Eu sou o {nome} {sobrenome} e tenho {idade} anos")

Olá! Eu sou o {nome} {sobrenome} e tenho {idade} anos

In [81]:
f"Isto é uma f-string"

'Isto é uma f-string'

In [85]:
print(f"Olá! Eu sou o '{nome}'")

Olá! Eu sou o 'Carlos'

In [87]:
print(f'Olá! Eu sou o {nome}')

Olá! Eu sou o Carlos

In [88]:
print(f'Olá! Eu sou o '{nome}'')

SyntaxError: invalid syntax (<ipython-input-88-591e1fc474c4>, line 1)

In [89]:
print(f'Olá! Eu sou o "{nome}"')

Olá! Eu sou o "Carlos"

In [80]:
f"Aqui {nome} posso colocar variáveis"

'Aqui Carlos posso colocar variáveis'

**Bora praticar!**  
Escreva um programa que receba seu nome, sua idade, hobby e escreva uma única sentença que seja, por exemplo, "Meu nome é Carlos, tenho 31 anos e meu hobby é viajar"

In [92]:
Nome = "Bruno"
Idade = 24
Hobby = "Ler"
print(f"Meu nome é {Nome}, tenho {Idade} anos e meu hobby é {Hobby}")

Meu nome é Bruno, tenho 24 anos e meu hobby é Ler

In [95]:
nome = input("Digite o seu nome: ")
idade = input("Digite sua idade: ")
hobby = input("Digite o seu Hobby favorito: ")

print(f"Oi meu nome é {nome}, eu tenho {idade} anos e meu Hobby favorito é {hobby}")

Digite o seu nome: Geovani
Digite sua idade: 20
Digite o seu Hobby favorito: jogar basquete
Oi meu nome é Geovani, eu tenho 20 anos e meu Hobby favorito é jogar basquete

In [96]:
nome = input("Digite seu nome: ")
idade = input("Digite sua idade: ")
hobby = input("Digite seu hobby: ")
sentenca = "Olá, meu nome é " + nome + ", tenho " + idade + " anos e meu hobby é " + hobby + "."
print(sentenca)

Digite seu nome: Ingrid
Digite sua idade: 27
Digite seu hobby: cozinhar
Olá, meu nome é Ingrid, tenho 27 anos e meu hobby é cozinhar.

# Operadores Algébricos e de Atribuição
Rotineiramente nos deparamos com a necessidade de realizarmos cálculos, para isso utilizamos os operadores algébricos como conhecemos na matemática tradicional. Mas como usar com variáveis?

In [97]:
idade1 = 50
idade2 = 30
print(idade1 + idade2)

80

In [99]:
idade1 = 50
idade2 = 30
print(f"A soma das idades é {idade1 + idade2} anos.")

A soma das idades é 80 anos.

**Operadores de atribuição**

|     Operador    |     Equivalente a    |
|:---------------:|----------------------|
|         =       |     x =   1          |
|        +=       |     x =   x + 1      |
|        -=       |     x =   x - 1      |
|        *=       |     x =   x * 1      |
|        /=       |     x =   x / 1      |
|        %=       |     x =   x % 1      |

In [100]:
x = 2
print(x)

2

In [101]:
x += 1

In [102]:
print(x)

3

In [103]:
x = 2
x = x + 1
print(x)

3

**Bora praticar!**  
Com tudo que vimos até o momento faça um programa que solicite ao usuário que insira seu ano de nascimento. Desconsiderando o mês do ano de nascimento, emita uma mensagem dizendo quantos anos ele possui.

In [104]:
ano_nascimento = int(input('Digite o seu ano de nascimento: '))
ano_atual = 2023
idade = ano_atual - ano_nascimento
print(f"Você tem {idade} anos!")

Digite o seu ano de nascimento: 1991
Você tem 32 anos!

In [106]:
datetime.datetime.now().year

2023

In [105]:
import datetime #Para comparar com o ano atual
ano_nascimento = int(input("Digite o ano de seu nascimento (AAAA): "))
ano_atual = datetime.datetime.now().year
idade = ano_atual - ano_nascimento
print(f"Você tem {idade} anos de idade.")

Digite o ano de seu nascimento (AAAA): 1991
Você tem 32 anos de idade.

In [107]:
ano_nasc = int(input('Digite sua data de nascimento: '))

print(f'Sua idade é {2023 - ano_nasc} ')

Digite sua data de nascimento: 1840
Sua idade é 183

## Operadores de Comparação  
Os operadores de comparação são aqueles que possuem o objetivo de analisar os valores de uma expressão e retornar um valor booleano, ou seja, verdadeiro (1) ou falso (0).

**Operadores de comparação**

|     Operador    |           Nome          |     Função                                              |
|:---------------:|:-----------------------:|---------------------------------------------------------|
|        ==       |         Igual   a       |     Verifica   se um valor é igual ao outro             |
|        !=       |      Diferente   de     |     Verifica   se um valor é diferente ao outro         |
|         >       |        Maior   que      |     Verifica   se um valor é maior que outro            |
|        >=       |     Maior   ou igual    |     Verifica   se um valor é maior ou igual ao outro    |
|         <       |        Menor   que      |     Verifica   se um valor é menor que outro            |
|        <=       |     Menor   ou igual    |     Verifica   se um valor é menor ou igual ao outro    |

In [108]:
1 == 1

True

In [109]:
1 = 1

SyntaxError: cannot assign to literal (<ipython-input-109-ecdac3dcabfd>, line 1)

In [110]:
1 == 2

False

In [111]:
2 > 1

True

In [112]:
10 >= 50

False

**Bora praticar!**  
Imagine que você está implementando um sistema para verificar se os alunos de uma turma estudantil passaram na disciplina ou não. Para isso solicite que o usuário insira as notas das 4 provas realizadas por um estudante e calcule a média. Após isso, emita uma resposta booleana (True ou False) se o estudante passou na disciplina pensando que a média mínima para aprovação é que seja pelo menos 5.

In [116]:
nota1 = float(input("Digite a nota: "))
nota2 = float(input("Digite a nota: "))
nota3 = float(input("Digite a nota: "))
nota4 = float(input("Digite a nota: "))

media = (nota1 + nota2 + nota3 + nota4)/4

print(f"A média foi de {media}")
media >= 5

Digite a nota: 8
Digite a nota: 6
Digite a nota: 5
Digite a nota: 3
A média foi de 5.5

True

In [124]:
nota1 = float(input("Digite a nota: "))
nota2 = float(input("Digite a nota: "))
nota3 = float(input("Digite a nota: "))
nota4 = float(input("Digite a nota: "))

media = (nota1 + nota2 + nota3 + nota4)/4

print(f"A média foi de {media}")

resultado = media >= 5

if resultado == True:
    print("O aluno passou!")
else:
    print("O aluno não passou.")

Digite a nota: 0
Digite a nota: 8
Digite a nota: 0
Digite a nota: 0
A média foi de 2.0
O aluno não passou.

Crie um algoritmo que calcule o IMC (índice de massa corporal). O IMC é calculado com a formula PESO/(ALTURA ^ 2). Para isso, coloque as informações nas variáveis e ao final apresente o resultado como no exemplo: "O IMC é 18"

In [121]:
peso = float(input("PESO: "))
altura = float(input("ALTURA: "))

imc = peso/(altura*altura)

print(f"O IMC é {imc}")

PESO: 75
ALTURA: 1.68
O IMC é 26.573129251700685

Escreva um algoritmo que calcule (x + y) * (x + y). Os valores de x e y devem ser inseridos pelo usuário

In [122]:
x = float(input("Insira x: "))
y = float(input("Insira y: "))
algoritmo = (x + y) * (x + y)
print(algoritmo)

Insira x: 5.8
Insira y: 50
3113.64